/* Universal Styles */
body{
    font-family: Arial, Helvetica, sans-serif;
    
}



/* Utility Classes */
.inner-container{
    max-width: 1528px;
    margin: 0 auto;
    padding: 1rem;

}
.flex{
    display: flex;
    flex-wrap: wrap;
    gap:1.125rem;
    
}


/* Global Typography */
h1{
    font-size: 1.625rem
   
}
h2{
   font-size:3.75rem ; 
}

h3{
    font-size: 3rem;
}
h4{
    font-size: 2.125rem ;
}
h1,
h2,
h3,
h4{
    font-weight: bold;
}

/* Header */
header{
    padding:1.625rem 6.25rem;
    background-color: #0C4A6E;
    color: #FAFAFA;
}

/* Main */

/* Footer */



